.menu-footer-menu-container {

	ul {
		display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2em 0;

	}

	li {
		list-style: none outside;
		padding-left: 1.7em;
		font-size: 1.4em;
	}

	a {
		display: block;
		padding: 0.5em 1em;
		color: #FFF;
		border-bottom: 0.03em solid #FFF;
	}

	li:hover > a,
	li a:hover {
	 	background: #369;
	   
	}
}
.footer-business-info {
	h4 {
		font-size: 1.6em;
		color: #FFF;
	}
	h6 {
		color: #FFF;
	}
}
