.site {
	// &-wrapper {
	// 	max-width: 100em;
	// 	margin: 0 auto;
 //    }
	&-header {
		width: 100%;
		padding: 0;
		border-bottom: 2px solid #CCC;
		justify-content: space-between;
		align-items: center;
	}
	&-branding {
		text-align: center;
		margin: 0 auto;
		
	}
	&-title {
	    margin-top: 0.5em;
        padding: 0em;
        font-size: 5em;
        margin-bottom: 0;
        letter-spacing: 0.3em;
        line-height: 1.7;
	}
	&-description{
		padding-right: 0.4em;
	    padding-left: 0.4em;
	    text-transform: uppercase;
	    letter-spacing: 1.06em;
	    margin-top: -0.4em;
	    margin-bottom: 2.5em;
	    font-weight: 500;
	}
	&-content {
		max-width: 70em;
		margin: 0 auto;
		padding: 2em 0;
	}

	&-footer {
		text-align: center;
		background-color: #000;	
		padding: 2em 0;
		box-shadow: 0px 0px 43px 3px rgba(17, 5, 66, 0.55);
		margin-bottom: 2em;
	    p {
	    	color: green;
	    }
	}	
}
