.menu-toggle {
	display: none;
}
.main-navigation {
	ul{
		display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #000;
        padding: 2em 0;
        box-shadow: 0px 0px 43px 3px rgba(17, 5, 66, 0.55);
	}

	li {
		list-style: none outside;
		padding-left: 1.7em;
		font-size: 1.4em;
	}

	a {
		display: block;
		padding: 0.5em 1em;
		color: #FFF;
	}

	li:hover > a,
	 li a:hover {
	 	background: #369;
	 }
}