@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap&subset=latin-ext');

html {
	font: 300 14px/1.5 'Georgia', sans-serif;
}

body, form, input, button, select, option, fieldset, legend {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;

}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
	text-decoration: none;
	color: #369;
}